*{
    margin: 0;

}
body{
    background-image: url(imagens/wallpaper002.jpg);
}
.quadrado{
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    background-color: lightgray;
    width: 300px;
    height: 300px;
}
#q1{
    background-color: aqua;
}
#q2{
    background-image: linear-gradient(to right, orange, yellow);
}
#q3{
    background-image: url(imagens/pattern001.png);
}