
  
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script&family=Tilt+Prism&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Tilt+Prism&display=swap');
*{
    margin: 0px;
    padding: 0px;
    
}
:root{
    --font1:  'Tilt Prism', cursiva;
    --font2: 'Dancing Script', cursiva;
    --font3: 'Climate Crisis', cursiva;
}


html, body {
    min-height: 100vh;
    background-color: rgb(48, 45, 45);
    font-family: var(--font2);
    
}


header{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header> h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font1);
    font-size: 4em;
    font-size: 10vw;
}


header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}
section.normal{
    background-color: aliceblue;
    color: black;
}
section.imagem{
    background-color: black;
    color: aliceblue;
    box-shadow: inset5px 5px;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    width: 400px;
    background-color: rgba(36, 34, 34, 0.247);
    text-shadow: 1px 1px black;
}
section > p{
    padding-bottom: 2em;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1.5em;
    font-size: 2.5vw;
}
section#img01{
    background-image: url(background001.jpg);
    background-position: right center;
    background-size: 200vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section#img02{
    background-image: url(background002.jpg);
    background-position: left center;
}

footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}